.cards__list {
    display: grid;
    max-width: 880px;
    grid-template-columns: repeat(auto-fill, 282px);
    gap: 20px 17px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 900px) {
    .cards__list {
    max-width: 590px;
    }
}

@media screen and (max-width: 620px) {
    .cards__list {
    max-width: 282px;
    gap: 20px;
    }
}