.header__logo {
    width: 142px;
    height: 33px;
    background-image: url(../../../images/header/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 960px) {
    .header__logo {
        width: 104px;
        height: 25px;
        margin-left: 27px;
    }
}

.header__logo:hover {
    opacity: 0.6;
    transition: 200ms ease-in-out;
}