.popup__toggle_image {    
    position: absolute;
    width: 40px;
    height: 40px;
    right: -40px;
    top: -40px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    background-size: cover;
    background-image: url(../../../../images/popup/button_close.svg);
}

.popup__toggle_image:hover {
    opacity: 0.6;
    transition: 200ms ease-in-out;
}

@media screen and (max-width: 590px) {
    .popup__toggle_image {
        width: 26px;
        height: 26px;
        right: 0;
        top: -38px;
    }
}